/* 
#494949 
#505050
#2b2b2b
#f0f0f0
#d72028

*/
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Estonia&family=Fredericka+the+Great&family=Handjet:wght@500;600;700&family=Lato:wght@400;700&family=Montserrat:wght@300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Roboto:wght@400;500&family=Rubik+Dirt&family=Share+Tech&family=Titillium+Web:wght@600&family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: black;
}

.calculadora {
    display: grid;
    background-color: #2b2b2b;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.2rem;
    max-width: 100%;
    width: 350px;
    border-radius: 1.5rem;
    gap: 0.5rem;
    box-shadow: 0px 0px 10px black;
    border: 5px solid #202020;
    flex-wrap: wrap;

}

.pantalla {
    background-color: black;
    color: #dcdcdc;
    display: grid;
    grid-column: 1/5;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    font-size: 4rem;
    text-align: right;
    align-items: center;
    padding: 1.5rem;
    font-family: 'Handjet';
    font-weight: 700;
    text-wrap: wrap;
    box-shadow: border-box;
    border: 5px solid #434343;
    flex-wrap: wrap;
    letter-spacing: 3px;
}

.btn {
    background-color: #505050;
    border: 0;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: #dcdcdc;
    /* border: 1px solid rgba(0, 0, 0, 0.418); */
    box-shadow: border-box;




}

.btn:hover {
    background-color: #424242;
    border-radius: 0.5rem;
    cursor: pointer;
}

#cero {
    grid-column: 1/3;
}

#igual {
    grid-row: span 2;
    background-color: #e1051e;
}

#igual:hover {
    background-color: #a30013;
}

.colorAccent {
    background-color: #222222;

}

.colorAccent:hover {
    background-color: #111111;
}